In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [3]:
from google.colab import files
uploaded = files.upload()

Saving Advertising.csv to Advertising.csv

In [4]:
ad = pd.read_csv('Advertising.csv')

In [5]:
ad

     Unnamed: 0     TV  radio  newspaper  sales
0             1  230.1   37.8       69.2   22.1
1             2   44.5   39.3       45.1   10.4
2             3   17.2   45.9       69.3    9.3
3             4  151.5   41.3       58.5   18.5
4             5  180.8   10.8       58.4   12.9
..          ...    ...    ...        ...    ...
195         196   38.2    3.7       13.8    7.6
196         197   94.2    4.9        8.1    9.7
197         198  177.0    9.3        6.4   12.8
198         199  283.6   42.0       66.2   25.5
199         200  232.1    8.6        8.7   13.4

[200 rows x 5 columns]

In [6]:
ad.dtypes

Unnamed: 0      int64
TV            float64
radio         float64
newspaper     float64
sales         float64
dtype: object

In [7]:
ad.head(7)

   Unnamed: 0     TV  radio  newspaper  sales
0           1  230.1   37.8       69.2   22.1
1           2   44.5   39.3       45.1   10.4
2           3   17.2   45.9       69.3    9.3
3           4  151.5   41.3       58.5   18.5
4           5  180.8   10.8       58.4   12.9
5           6    8.7   48.9       75.0    7.2
6           7   57.5   32.8       23.5   11.8

In [8]:
ad.duplicated()

0      False
1      False
2      False
3      False
4      False
       ...
195    False
196    False
197    False
198    False
199    False
Length: 200, dtype: bool

In [9]:
ad.isnull()

     Unnamed: 0     TV  radio  newspaper  sales
0         False  False  False      False  False
1         False  False  False      False  False
2         False  False  False      False  False
3         False  False  False      False  False
4         False  False  False      False  False
..          ...    ...    ...        ...    ...
195       False  False  False      False  False
196       False  False  False      False  False
197       False  False  False      False  False
198       False  False  False      False  False
199       False  False  False      False  False

[200 rows x 5 columns]

In [10]:
#prediction of sales
#understanding the train and test data
#finding ut the shape of the data
print('\nShape of the training data :',ad.shape)

train_x = ad.drop(columns=['sales'], axis=1)
train_y = ad['sales']

Shape of the training data : (200, 5)

In [11]:
model = LinearRegression()

In [12]:
model.fit(train_x,train_y)

#coefficients of the train model
print('\nCoefficient of model: ', model.coef_)

#intercept of the model
print('\nInterncept of model: ', model.intercept_)

predict = model.predict(train_x)
print('\nsales on training data', predict)

#rmse on training dataset
rmse_train = mean_squared_error(train_y, predict)**(0.5)
print('\nRMSE on train dataset: ', rmse_train)

predict_more = model.predict(train_x)
print('\nsales on data', predict_more)

Coefficient of model:  [-0.00057983  0.04577592  0.18838318 -0.00124333]

Interncept of model:  3.005209420097845

sales on training data [20.57251457 12.38846299 12.35144103 17.64543251 13.24052459 12.51866879
 11.78301601 12.180724    3.78802522 12.60887762  7.08715353 17.34256434
 10.61745283  8.88300418 18.47999068 20.8606524  12.85204475 23.26671246
 10.00098857 14.2150162  18.14231423 14.79119255  6.52973904 16.59303652
  8.19342866 15.65971941 15.03489413 17.09729941 19.45415511  9.18299762
 21.6725338  11.38463112  7.68076947 18.91087004  7.62020678 17.05319819
 23.44631521 15.65194604  9.94172832 20.48118527 16.41271591 17.32707577
 21.63606281 14.00032963  8.91570435 15.19335755  8.9046642  21.75392107
 16.29149899  8.19695581 12.6626357   9.37496322 20.68673027 19.96290112
 20.40431955 21.30909879  8.54841699 12.80257742 21.91749556 18.16114677
  5.76901079 22.90645956 16.80885425 13.23498545 16.99561148  7.87632378
  9.03979324 12.06124085 18.99926536 21.1250438  17.7944357  10.64412377
 10.38232525  9.92057415 17.34824213 11.85594698  4.4950767  13.82724645
  8.82756268  9.69065949 11.45762825 14.66122134 10.18778083 14.4263657
 20.78753503 15.1838158  11.60811119 15.5913576  11.70812929 16.92002973
 10.01166572  4.50260156 19.15418328 21.22197727 10.49027175 16.31189003
 12.64629333 15.34104735 24.11404042 16.93464073 13.87534134 23.22690723
 17.64796272 14.76413771 20.30310486 17.9238701   6.12285398  7.10840093
  3.58519686 19.69326737 14.75154529 21.13402399 13.88063488 16.40113163
 15.29164402 12.90360882 11.97142784  6.56637531 15.54311076  6.81008756
 14.39441514  7.82030899 13.62042032 15.07096712 19.43082627  9.11453063
 10.5538167   6.59078161 22.2416437   7.86508737 10.41045195 15.56129421
  8.43402145 19.243822   11.80609249 13.98077075 11.43301748 20.82410959
  9.74661397 19.65590883  9.46988128 18.36443847 19.22308369  8.74088909
 10.06448347  9.68965418 15.27515327 23.22779482 12.23534643  9.79909228
 18.33947913  9.97783056 16.33349025 18.18926965 15.47512722  5.28059543
 15.34441549  9.98551468 10.34373591 12.36435693 14.17976864 13.51709534
 14.91278707 17.31778078 11.03699433 14.17847989 10.78411871 13.32973051
 17.14157897 17.90963701  7.35722248 14.31389253  7.56747253 11.93459022
 13.7085193  24.73847813 19.93725072 12.11868528 15.97143167 12.34328192
 10.54824625 13.8849212   6.50856493 24.07488133 18.49113153 20.75313701
  9.6450546  17.02794864 18.60146081  6.00139443 12.43794837  8.37704275
  4.41373038 18.43576363 16.44377927  5.32006315  8.11608159 12.73674753
 23.70165968 15.12311317]

RMSE on train dataset:  1.6682438365932681

sales on data [20.57251457 12.38846299 12.35144103 17.64543251 13.24052459 12.51866879
 11.78301601 12.180724    3.78802522 12.60887762  7.08715353 17.34256434
 10.61745283  8.88300418 18.47999068 20.8606524  12.85204475 23.26671246
 10.00098857 14.2150162  18.14231423 14.79119255  6.52973904 16.59303652
  8.19342866 15.65971941 15.03489413 17.09729941 19.45415511  9.18299762
 21.6725338  11.38463112  7.68076947 18.91087004  7.62020678 17.05319819
 23.44631521 15.65194604  9.94172832 20.48118527 16.41271591 17.32707577
 21.63606281 14.00032963  8.91570435 15.19335755  8.9046642  21.75392107
 16.29149899  8.19695581 12.6626357   9.37496322 20.68673027 19.96290112
 20.40431955 21.30909879  8.54841699 12.80257742 21.91749556 18.16114677
  5.76901079 22.90645956 16.80885425 13.23498545 16.99561148  7.87632378
  9.03979324 12.06124085 18.99926536 21.1250438  17.7944357  10.64412377
 10.38232525  9.92057415 17.34824213 11.85594698  4.4950767  13.82724645
  8.82756268  9.69065949 11.45762825 14.66122134 10.18778083 14.4263657
 20.78753503 15.1838158  11.60811119 15.5913576  11.70812929 16.92002973
 10.01166572  4.50260156 19.15418328 21.22197727 10.49027175 16.31189003
 12.64629333 15.34104735 24.11404042 16.93464073 13.87534134 23.22690723
 17.64796272 14.76413771 20.30310486 17.9238701   6.12285398  7.10840093
  3.58519686 19.69326737 14.75154529 21.13402399 13.88063488 16.40113163
 15.29164402 12.90360882 11.97142784  6.56637531 15.54311076  6.81008756
 14.39441514  7.82030899 13.62042032 15.07096712 19.43082627  9.11453063
 10.5538167   6.59078161 22.2416437   7.86508737 10.41045195 15.56129421
  8.43402145 19.243822   11.80609249 13.98077075 11.43301748 20.82410959
  9.74661397 19.65590883  9.46988128 18.36443847 19.22308369  8.74088909
 10.06448347  9.68965418 15.27515327 23.22779482 12.23534643  9.79909228
 18.33947913  9.97783056 16.33349025 18.18926965 15.47512722  5.28059543
 15.34441549  9.98551468 10.34373591 12.36435693 14.17976864 13.51709534
 14.91278707 17.31778078 11.03699433 14.17847989 10.78411871 13.32973051
 17.14157897 17.90963701  7.35722248 14.31389253  7.56747253 11.93459022
 13.7085193  24.73847813 19.93725072 12.11868528 15.97143167 12.34328192
 10.54824625 13.8849212   6.50856493 24.07488133 18.49113153 20.75313701
  9.6450546  17.02794864 18.60146081  6.00139443 12.43794837  8.37704275
  4.41373038 18.43576363 16.44377927  5.32006315  8.11608159 12.73674753
 23.70165968 15.12311317]